.newTaskSection {
	padding:0 12px;
}

/* Same style as #searchEntry on theme/gnome-shell.css */

#newTaskEntry {
	padding: 4px 12px;
	border-radius: 17px;
	color: rgb(128, 128, 128);
	border: 2px solid rgba(245,245,245,0.2);
	background-gradient-start: rgba(5,5,6,0.1);
	background-gradient-end: rgba(254,254,254,0.1);
	background-gradient-direction: vertical;
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	width: 250px;
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

#newTaskEntry:focus,
#newTaskEntry:hover {
	border: 2px solid rgb(136,138,133);
	background-gradient-start: rgb(200,200,200);
	background-gradient-end: white;
	background-gradient-direction: vertical;
}

#newTaskEntry:hover {
	transition-duration: 300;
}

#newTaskEntry:focus {
	color: rgb(64, 64, 64);
	font-weight: bold;
	transition-duration: 0;
}
